@font-face {
	font-family: 'MilleniaPersona';
	src: url('/src/assets/Qwigley-Regular.ttf');
}

.featured{
	height: 700px;
	display: flex;
	justify-content: center;
	font-family: 'Poppins', sans-serif;
	background-color: #013914;
	.container{
		width: 1350px;	
		display: flex;
		align-items: center;
		justify-content: space-between;
		.left{
			display: flex;
			flex-direction: column;
			gap: 30px;
			color: white;
			transform: translate(0, -40px);
			.heading{
				font-size: 47px;
				letter-spacing: -0.5px;
				line-height: 55px;
				span{
					font-family: 'MilleniaPersona';
					letter-spacing: 2px;
					margin-left:15px;
					font-size: 80px;
					font-weight: 300;
				}
			}
			.search-bar{
				width: 625px;
				background-color: white;
				height: 50px;
				display: flex;
				justify-content: space-between;
				border-radius: 5px;
				input{
					border: none;
					outline: none;
					border-radius: 5px;
					width: 100%;
					font-family: 'Montserrat', sans-serif;
					padding: 10px 20px;
				}
				input::placeholder{
					color: rgb(184, 184, 184);
					font-weight: 500;
					font-size: 16px;
				}
				button{
					display: flex;
					align-items: center;
					border: none;
					outline: none;
					border-top-right-radius: 5px;
					border-bottom-right-radius: 5px;
					cursor: pointer;
					color: white;
					background-color: #1dbf73;
					svg{
						height: 20px;
						padding: 10px 20px;
					}
				}
			}
			.popular{
				display: flex;
				align-items: center;
				gap: 25px;
				button{
					font-family: 'Poppins', sans-serif;
					padding: 5px 12px;
					background-color: transparent;
					outline: none;
					border: none;
					border: solid 1px white;
					color: white;
					border-radius: 15px;
					cursor: pointer;
				}
			}
		}
		.right{
			height: 100%;
			display: flex;
			align-items: end;
			img{
				height: 650px;
			}
		}
	}	
}
